{% extends 'base.html' %}
{% block header %}
<h2 class="p-3"><span class="badge badge-pill badge-secondary">Ranking</span></h2>
{% endblock %}

{% block content %}
    <div class="table-responsive-lg">
        <table class="table table-sm table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Punkty</th>
                    <th scope="col">Ile razy typował</th>
                    <th scope="col">Ile razy za 3</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr style="border-bottom:1px">
                    <th scope="row">{{ loop.index }}</th>
                    {% if user.id == g.user.id %}
                    <td class="font-weight-bold">{{ user.username }}</td>
                    {% else %}
                    <td>{{ user.username }}</td>
                    {% endif %}
                    <td>{{ user.points }}</td>
                    <td>{{ user.times_bet }}</td>
                    <td>{{ user.times_exact }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block news %}
<h2><span class="badge badge-pill badge-secondary">Nowe wydarzenia</span></h2>
            {% for _ in level %}
            <div class="card border-dark m-1 p-1 w-100">
                <div class="card-header p-1 text-truncate">
                    <h5 class="text-truncate"><span class="badge badge-pill badge-{{ level[loop.index0] }}">{{ header[loop.index0] }}</span></h5>
                    <small class="card-subtitle text-muted text-truncate">{{ created[loop.index0] }}</small>
                </div>
                <div class="card-body p-1">
                    <small>{{ body[loop.index0] }}</small>
                </div>
            </div>
            {% endfor %}
{% endblock %}