{% extends 'base.html' %}
{% block header %}
    <h2>Ranking</h2>
{% endblock %}

{% block content %}
    <div class="table-responsive-lg">
        <table class="table table-sm table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Punkty</th>
                    <th scope="col">Ile razy typował</th>
                    <th scope="col">Ile razy za 3</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr style="border-bottom:1px">
                    <th scope="row">{{ loop.index }}</th>
                    {% if user['id'] == g.user['id'] %}
                    <td class="font-weight-bold">{{ user['username'] }}</td>
                    {% else %}
                    <td>{{ user['username'] }}</td>
                    {% endif %}
                    <td>{{ user['points'] }}</td>
                    <td>{{ user['times_bet'] }}</td>
                    <td>{{ user['times_exact'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}