{% extends 'base.html' %}

{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title%}Nowe zawody{% endblock %}</span></h2>
{% endblock %}

{% block content %}
    <form method="post">
        <datalist id="statusy">
            <option>koniec</option>
            <option>następne</option>
            <option>przyszłe</option>
        </datalist>
        <datalist id="typy">
            <option>indywidualne</option>
            <option>drużynowe</option>
        </datalist>
        <div class="form-group p-3">
            <label for="place">Gdzie:</label>
            <input name="place"
                   id="place"
                   class="form-control w-50"
                   value="{{ request.form['place'] }}"
                   required>
            <label for="typ">Typ: indywidualne / drużynowe</label>
            <input name="typ"
                   id="typ"
                   list="typy"
                   class="form-control w-50"
                   value="{{ request.form['typ'] }}"
                   required>
            <label for="status">Status: koniec / następne / przyszłe</label>
            <input name="status"
                   id="status"
                   list="statusy"
                   class="form-control w-50"
                   value="{{ request.form['status'] }}"
                   required>
            <label for="date_time">Data:</label>
            <input name="date_time"
                   id="date_time"
                   type="datetime-local"
                   class="form-control w-50"
                   value="{{ request.form['date_time'] }}"
                   required>
        </div>
        <div class="text-center">
            <input class="btn btn-dark w-25" type="submit" value="Zapisz">
        </div>
    </form>
{% endblock %}