{% extends 'base.html' %}
{% block header %}
<div class="container mt-3">
        <div class="row">
            <div class="col">
                <h2>{% block title %}Zawody:{% endblock %}</h2>
            </div>
            <div class="col text-right">
                <a class="btn btn-dark"
                   role="button"
                   href="{{ url_for('tournaments.create') }}">
                    Nowe zawody
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for post in tournaments %}
        <div class="card border-dark m-1">
            <div class="card-header">
                <h5>{{ post.place }} - {{ post.type }} - {{ post.date_time }}</h5>
            </div>
            <div class="card-body p-0">
                <ol class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">1</span>
                        {{ post.first_place }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">2</span>
                        {{ post.second_place }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">3</span>
                        {{ post.third_place }}
                    </li>
                </ol>
           </div>
            <div class="card-footer text-right p-1">
                <a class="btn btn-dark"
                   role="button"
                   href="{{ url_for('tournaments.update', id=post.id)  }}">
                    Edytuj
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

