{% extends 'base.html' %}
{% block header %}
<div class="container mt-3">
        <div class="row">
            <div class="col">
                <h2><span class="badge badge-pill badge-secondary">{% block title %}Zawody:{% endblock %}</span></h2>
            </div>
            <div class="col text-right">
                <a class="btn btn-dark"
                   role="button"
                   href="{{ url_for('tournaments.create') }}">
                    Nowe zawody
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for post in tournaments %}
        <div class="card border-dark m-1">
            <div class="card-header">
                <h5>{{ post.place }} - {{ post.type }} - {{ post.date_time.strftime("%d.%m.%Y godzina: %H:%M") }}</h5>
            </div>
            {% if post.type == "drużynowe" %}
            <div class="card-body p-0">
                <ol class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">1</span>
                        {{ post.first_place.country_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">2</span>
                        {{ post.second_place.country_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">3</span>
                        {{ post.third_place.country_id.name }}
                    </li>
                </ol>
           </div>
            {% else %}
            <div class="card-body p-0">
                <ol class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">1</span>
                        {{ post.first_place.jumper_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">2</span>
                        {{ post.second_place.jumper_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge badge-secondary">3</span>
                        {{ post.third_place.jumper_id.name }}
                    </li>
                </ol>
           </div>
            {% endif %}
            <div class="card-footer text-right p-1">
                {% if g.user.id == 1 %}
                <a class="btn btn-dark"
                   role="button"
                   href="{{ url_for('tournaments.update', id=post.id)  }}">
                    Edytuj
                </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block news %}
<h2><span class="badge badge-pill badge-secondary">Nowe wydarzenia</span></h2>
            {% for _ in level %}
            <div class="card border-dark m-1 p-1 w-100">
                <div class="card-header p-1">
                    <h5><span class="badge badge-pill badge-{{ level[loop.index0] }}">{{ header[loop.index0] }}</span></h5>
                    <small class="card-subtitle text-muted">{{ created[loop.index0] }}</small>
                </div>
                <div class="card-body p-1">
                    <small>{{ body[loop.index0] }}</small>
                </div>
            </div>
            {% endfor %}
{% endblock %}
