{% extends 'base.html' %}
{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title %}Zawody:{% endblock %}</span></h2>
<div class="position-relative mb-3">
    <a class="btn btn-dark position-absolute end-0 bottom-0 w-25"
       role="button"
       href="{{ url_for('tournaments.create') }}">
        Nowe zawody
    </a>
</div>
<ul class="nav nav-tabs nav-fill mb-3">
    <li class="nav-item">
        {% if status and status == "future" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('tournaments.tournaments_filter', status = 'future') }}">Przyszłe</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('tournaments.tournaments_filter', status = 'future') }}">Przyszłe</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if status and status == "next" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('tournaments.tournaments_filter', status = 'next') }}">Następne</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('tournaments.tournaments_filter', status = 'next') }}">Następne</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if status and status == "end" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('tournaments.tournaments_filter', status = 'end') }}">Koniec</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('tournaments.tournaments_filter', status = 'end') }}">Koniec</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if status and status == "archive" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('tournaments.tournaments_filter', status = 'archive') }}">Archiwum</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('tournaments.tournaments_filter', status = 'archive') }}">Archiwum</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if status and status == "cancelled" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('tournaments.tournaments_filter', status = 'cancelled') }}">Odwołane</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('tournaments.tournaments_filter', status = 'cancelled') }}">Odwołane</a>
        {% endif %}
    </li>
</ul>
{% endblock %}

{% block content %}
    {% for post in tournaments %}
        <div class="card border-dark m-1">

                <div class="card-header">
                    <div class="row">
                    <div class="col">
                        <h5>{{ post.place }} - {{ post.type }} - {{ post.date_time.strftime("%d.%m.%Y godzina: %H:%M") }}</h5>
                    </div>
                    <div class="col-auto p-0">
                        <h4><span class="badge rounded-pill bg-secondary">{{post.status}}</span></h4>
                    </div>
                </div>
            </div>
            {% if post.type == "drużynowe" %}
            <div class="card-body p-0">
                <ol class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">1</span>
                        {{ post.first_place.country_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">2</span>
                        {{ post.second_place.country_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">3</span>
                        {{ post.third_place.country_id.name }}
                    </li>
                </ol>
           </div>
            {% else %}
            <div class="card-body p-0">
                <ol class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">1</span>
                        {{ post.first_place.jumper_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">2</span>
                        {{ post.second_place.jumper_id.name }}
                    </li>
                    <li class="list-group-item p-1">
                        <span class="badge bg-secondary">3</span>
                        {{ post.third_place.jumper_id.name }}
                    </li>
                </ol>
           </div>
            {% endif %}
            <div class="card-footer text-right position-relative pb-5">
                {% if g.user.id == 1 %}
                <a class="btn w-25 w-100-xl btn-dark position-absolute end-0 bottom-0 mt-5"
                   role="button"
                   href="{{ url_for('tournaments.update', id=post.id)  }}">
                    Edytuj
                </a>
                {% endif %}
                {% if post.status == "archiwum" %}
                <div class="row mt-1 position absolute top-0">
                    <div class="col pe-1">
                        <ul class="list-group">
                            {% if post.type == "drużynowe" %}
                            {% for country in post.first_five|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index}}. {{ country.country_id.name }}</small></li>
                            {% endfor %}
                            {% else %}
                            {% for jumper in post.first_ten|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index}}. {{ jumper.jumper_id.name }}</small></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col px-1">
                        <ul class="list-group">
                            {% if post.type == "drużynowe" %}
                            {% for country in post.second_five|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index + 5}}. {{ country.country_id.name }}</small></li>
                            {% endfor %}
                            {% else %}
                            {% for jumper in post.second_ten|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index + 10}}. {{ jumper.jumper_id.name }}</small></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col ps-1">
                        <ul class="list-group">
                            {% if post.type == "drużynowe" %}
                            {% for country in post.third_five|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index + 10}}. {{ country.country_id.name }}</small></li>
                            {% endfor %}
                            {% else %}
                            {% for jumper in post.third_ten|sort(attribute="id") %}
                                <li class="list-group-item p-0 px-1"><small>{{loop.index + 20}}. {{ jumper.jumper_id.name }}</small></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}