{% extends 'base.html' %}

{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title %}Edytuj{% endblock %}</span></h2>
    <h5 class="pr-3 pl-3">{{ tournament.place }} - {{ tournament.type }} -
        {{ tournament.date_time }}
    </h5>
{% endblock %}

{% block content %}
    <form method="post">
        <datalist id="jumpers">
            {% for jumper in jumpers %}
                {% if jumper.name != "TBA" %}
                <option>{{ jumper.name }}</option>
                {% endif %}
            {% endfor %}
        </datalist>
        <datalist id="statusy">
            <option>koniec</option>
            <option>następne</option>
            <option>przyszłe</option>
        </datalist>
        <datalist id="typy">
            <option>indywidualne</option>
            <option>drużynowe</option>
        </datalist>
        <div class="form-gropu p-3">
            <label for="place">Gdzie:</label>
            <input name="place"
                   id="place"
                   class="form-control w-50"
                   value="{{ request.form['place'] or tournament.place }}"
                   required>
            <label for="type">Typ: indywidualne / drużynowe</label>
            <input name="type"
                   id="type"
                   list="typy"
                   class="form-control w-50"
                   value="{{ request.form['type'] or tournament.type }}" required>
            <label for="status">Status: koniec / następne / przyszłe</label>
            <input name="status"
                   id="status"
                   list="statusy"
                   class="form-control w-50"
                   value="{{ request.form['status'] or tournament.status }}"
                   required>
            <label for="date_time">Data:</label>
            <input name="date_time"
                   id="date_time"
                   type="datetime-local"
                   class="form-control w-50"
                   value="{{ request.form['date_time'] or tournament.date_time }}"
                   required>
            {% if tournament.type == "drużynowe" %}
            <label for="first_place">Pierwsze miejsce:</label>
            <input name="first_place"
                   id="first_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['first_place'] or tournament.first_place.country_id.name }}"
                   required>
            <label for="second_place">Drugie miejsce:</label>
            <input name="second_place"
                   id="second_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['second_place'] or tournament.second_place.country_id.name }}"
                   required>
            <label for="third_place">Trzecie miejsce:</label>
            <input name="third_place"
                   id="third_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['third_place'] or tournament.third_place.country_id.name }}"
                   required>
            {% else %}
            <label for="first_place">Pierwsze miejsce:</label>
            <input name="first_place"
                   id="first_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['first_place'] or tournament.first_place.jumper_id.name }}"
                   required>
            <label for="second_place">Drugie miejsce:</label>
            <input name="second_place"
                   id="second_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['second_place'] or tournament.second_place.jumper_id.name }}"
                   required>
            <label for="third_place">Trzecie miejsce:</label>
            <input name="third_place"
                   id="third_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['third_place'] or tournament.third_place.jumper_id.name }}"
                   required>
            {% endif %}
        </div>
        <div class="text-center">
            <input class="bt btn-dark w-25" type="submit" value="Zapisz">
        </div>
    </form>
    <hr>
    <form class="text-right"
          action="{{ url_for('tournaments.delete', id=tournament.id) }}"
          method="post">
        <input class="btn btn-danger w-25"
               type="submit"
               value="Usuń"
               onclick="return confirm('Jesteś pewien?');">
    </form>
{% endblock %}