{% extends 'base.html' %}
{% block header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h2>{% block title %}Ostatnie typy:{% endblock %}</h2>
            </div>
            <div class="col text-right">
                {% if g.user and not duplicate %}
                <a class="btn btn-dark" role="button" href="{{ url_for('typer.create') }}">Typuj</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for bet in bets %}
    {% set d_t = bet.tournament_id.date_time.split('T') %}
        <div class="card border-dark m-1">
            <div class="card-header">
                <h5 class="card-title">{{ bet.tournament_id.place }} -
                    {{ bet.tournament_id.type }} -
                    {{ d_t[0] }} {{ d_t[1] }}</h5>
                <h6 class="card-subtitle text-muted">przez {{ bet.user_id.username }} z {{ bet.created }}</h6>
            </div>
            <div class="card-body p-0">
                    <ol class="list-group list-group-flush p-1">
                        <li class="list-group-item p-1">
                            <span class="badge badge-secondary">1</span>
                            {{ bet.first_place }}
                        </li>
                        <li class="list-group-item p-1">
                            <span class="badge badge-secondary">2</span>
                            {{ bet.second_place }}
                        </li>
                        <li class="list-group-item p-1">
                            <span class="badge badge-secondary">3</span>
                            {{ bet.third_place }}
                        </li>
                    </ol>
            </div>
            <div class="card-footer text-right">
                {% if g.user['id'] == bet.user_id.id and bet.tournament_id.status != 'koniec' and bet.tournament_id.status != 'archiwum' %}
                <a class="btn btn-dark" role="button" href="{{ url_for('typer.update', id=bet.id)  }}">Edytuj</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}