{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}Edytuj typowanie{% endblock %}</h1>
    <h3>{{ post['place'] }} - {{ post['type'] }}
        data: {{  post['date_time']  }}</h3>
{% endblock %}

{% block content %}
    <form method="post">
        <datalist id="jumpers">
            {% for jumper in jumpers %}
                <option>{{ jumper['name'] }}</option>
            {% endfor %}
        </datalist>
        <label for="first_place">Pierwsze miejsce:</label>
        <input name="first_place"
               id="first_place"
               list="jumpers"
               value="{{ request.form['first_place'] or post['first_place'] }}"
               required>
        <label for="second_place">Drugie miejsce:</label>
        <input name="second_place"
               id="second_place"
               list="jumpers"
               value="{{ request.form['second_place'] or post['second_place'] }}"
               required>
        <label for="third_place">Trzecie miejsce:</label>
        <input name="third_place"
               id="third_place"
               list="jumpers"
               value="{{ request.form['third_place'] or post['third_place'] }}"
               required>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('typer.delete', id=post['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure');">
    </form>
{% endblock %}