{% extends 'base.html' %}

{% block header %}
    <h2 class="p-3">{% block title%}Edytuj typowanie{% endblock %}</h2>
    <h5 class="pr-3 pl-3">{{ post['place'] }} - {{ post['type'] }} -
        data: {{  post['date_time']  }}</h5>
{% endblock %}

{% block content %}
    <form method="post">
        <datalist id="jumpers">
            {% for jumper in jumpers %}
                <option>{{ jumper['name'] }}</option>
            {% endfor %}
        </datalist>
        <div class="form-group p-3">
            <label for="first_place">Pierwsze miejsce:</label>
            <input name="first_place"
                   id="first_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['first_place'] or post['first_place'] }}"
                   required>
            <label for="second_place">Drugie miejsce:</label>
            <input name="second_place"
                   id="second_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['second_place'] or post['second_place'] }}"
                   required>
            <label for="third_place">Trzecie miejsce:</label>
            <input name="third_place"
                   id="third_place"
                   list="jumpers"
                   class="form-control w-50"
                   value="{{ request.form['third_place'] or post['third_place'] }}"
                   required>
        </div>
        <div class="text-center">
            <input class="btn btn-dark w-25" type="submit" value="Zapisz">
        </div>
    </form>
    <hr>
    <form class="text-right p-3"
          action="{{ url_for('typer.delete', id=post['id']) }}"
          method="post">
        <input class="btn btn-danger w-25"
               type="submit"
               value="Usuń"
               onclick="return confirm('Jesteś pewien?');">
    </form>
{% endblock %}