{% extends 'base.html' %}

{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title %}Edytuj "{{ jumper.name }}"{% endblock %}</span></h2>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Nazwisko:</label>
            <input name="name"
                   id="name"
                   class="form-control"
                   value="{{ request.form['name'] or jumper.name }}"
                   required>
        </div>
        <div class="d-grid d-md-block px-1 text-center">
            <input type="submit" class="btn btn-dark" value="Zapisz">
        </div>
    </form>
    <hr>
    <form class="d-grid d-md-block px-1 text-end" action="{{ url_for('jumpers.delete', id=jumper.id) }}"
          method="post">
        <input class="btn btn-danger"
               type="submit"
               value="Usuń"
               onclick="return confirm('Jesteś pewien?');">
    </form>
{% endblock %}