{% extends 'base.html' %}

{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title%}Nowy skoczek{% endblock %}</span></h2>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Nazwisko:</label>
            <input name="name"
                   id="name"
                   value="{{ request.form['name'] }}"
                   class="form-control w-50"
                   required>
        </div>
        <div class="text-center">
            <input class="btn btn-dark w-25" type="submit" value="Zapisz">
        </div>
    </form>
{% endblock %}