{% extends 'base.html' %}
{% block header %}
<h2><span class="badge rounded-pill bg-secondary">{% block title %}Skoczkowie:{% endblock %}</span></h2>
<div class="position-relative">
    <a class="btn btn-dark position-absolute end-0 bottom-0 w-25" role="button" href="{{ url_for('jumpers.create') }}">
        Nowy skoczek
    </a>
</div>
{% endblock %}

{% block content %}
        <div class="list-group p-1">
    {% for jumper in jumpers %}
        {% if jumper.name != "TBA" %}
            <div class="list-group-item d-flex justify-content-between border-dark">
                {{ jumper.name }}
                {% if g.user.id == 1 %}
                <a class="btn btn-dark p-1"
                   role="button"
                   href="{{ url_for('jumpers.update', id=jumper.id)  }}">
                    Edytuj
                </a>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
        </div>
{% endblock %}
