{% extends 'base.html' %}

{% block header %}
<h2 class="p-3"><span class="badge badge-pill badge-secondary">{% block title %}Edytuj "{{ jumper.name }}"{% endblock %}</span></h2>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Nazwisko:</label>
            <input name="name"
                   id="name"
                   class="form-control w-50"
                   value="{{ request.form['name'] or jumper.name }}"
                   required>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-dark w-25" value="Zapisz">
        </div>
    </form>
    <hr>
    <form class="text-right" action="{{ url_for('jumpers.delete', id=jumper.id) }}"
          method="post">
        <input class="btn btn-danger w-25"
               type="submit"
               value="Usuń"
               onclick="return confirm('Jesteś pewien?');">
    </form>
{% endblock %}