{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edytuj "{{ jumper['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Nazwisko:</label>
        <input name="name" id="name"
               value="{{ request.form['name'] or jumper['name'] }}" required>
        <input type="submit" value="Zapisz">
    </form>
    <hr>
    <form action="{{ url_for('jumpers.delete', id=jumper['id']) }}" method="post">
        <input class="danger" type="submit" value="Usuń" onclick="return confirm('Jesteś pewien?');">
    </form>
{% endblock %}