{% extends 'base.html' %}
{% block header %}
<h2><span class="badge rounded-pill bg-secondary">Ranking</span></h2>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
        {% if system == "classic" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'classic') }}">Klasyczny</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'classic') }}">Klasyczny</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "mg" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'mg') }}">MG_rev.2020</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'mg') }}">MG_rev.2020</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "three_two" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'three_two') }}">3-2</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'three_two') }}">3-2</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "three_one" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'three_one') }}">3-1</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'three_one') }}">3-1</a>
        {% endif %}
    </li>
</ul>
<div>
    <div class="accordion" id="rankingTable">
        <div class="card">
            <div class="card-header text-center" id="header">
                <div class="row">
                    <div class="col-1">#</div>
                    <div class="col-5">Użytkownik</div>
                    <div class="col-2">Punkty</div>
                    <div class="col-2">Typował</div>
                    <div class="col-2">Dokładnie</div>
                </div>
            </div>
            {% for p in points %}
            <div class="card-header text-center" id="header{{ p['user'].username|replace(' ', '') }}">
                <div class="row">
                    <div class="col-1">{{ loop.index }}</div>
                    <div class="col-5">
                        {% if p["user"] == g.user %}
                        <button class="btn btn-primary btn-sm w-75"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse{{ p['user'].username|replace(' ', '') }}"
                                aria-expanded="true"
                                aria-controls="collapse{{ p['user'].username|replace(' ', '') }}">
                            {{ p["user"].username }}
                        </button>
                        {% else %}
                        <button class="btn btn-secondary btn-sm w-75"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse{{ p['user'].username|replace(' ', '') }}"
                                aria-expanded="true"
                                aria-controls="collapse{{ p['user'].username|replace(' ', '') }}">
                            {{ p["user"].username }}
                        </button>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {{ p["points"] }}
                        {% if p["points_recent"] %}
                            {% if p["points_recent"] > 0 %}
                            <span class="badge rounded bg-success p-1"><small>+{{ p["points_recent"] }}</small></span>
                            {% else %}
                            <span class="badge rounded bg-danger p-1"><small>{{ p["points_recent"] }}</small></span>
                            {% endif %}
                        {% else %}
                            <span class="badge rounded bg-info p-1"><small>+0</small></span>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {{ p["times_bet"] }}
                        {% if p["bet_recent"] %}
                        <span class="badge rounded bg-success p-1"><small>+1</small></span>
                        {% else %}
                        <span class="badge rounded bg-info p-1"><small>+0</small></span>
                        {% endif %}
                    </div>
                    <div class="col-2">
                        {{ p["exact"] }}
                        {% if p["exact_recent"] %}
                        <span class="badge rounded bg-success p-1"><small>+{{ p["exact_recent"] }}</small></span>
                        {% else %}
                        <span class="badge rounded bg-info p-1"><small>+0</small></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="collapse"
                 id="collapse{{ p['user'].username|replace(' ', '') }}"
                 aria-labelledby="header{{ p['user'].username|replace(' ', '') }}"
                 data-parent="#rankingTable">
                <div class="card-body">
                    {% for bet in p["bets"] %}
                    <div class="row">
                        <div class="col-1 text-center">{{ loop.index }}</div>
                        <div class="col-2">
                            <small class="text-left">
                                {{ bet.tournament.place }}
                            </small>
                        </div>
                        <div class="col-3 text-center">
                            <small>
                                {{ bet.tournament.date_time.strftime("%d.%m.%Y %H:%M") }}
                            </small>
                        </div>
                        <div class="col-2 text-center">
                            <small>
                                {% if bet|attr(system) %}
                                {% if bet|attr(system) > 0 %}
                                <span class="badge rounded bg-success p-1"><small>+{{ bet|attr(system) }}</small></span>
                                {% else %}
                                <span class="badge rounded bg-danger p-1"><small>{{ bet|attr(system) }}</small></span>
                                {% endif %}
                                {% else %}
                                <span class="badge rounded bg-info p-1"><small>+{{ bet|attr(system) }}</small></span>
                                {% endif %}
                            </small>
                        </div>
                        <div class="col-2 text-center">
                            <small>
                                <span class="badge rounded bg-success p-1">+1</span>
                            </small>
                        </div>
                        <div class="col-2 text-center">
                            <small>
                                {% if bet.times_exact %}
                                <span class="badge rounded bg-success p-1"><small>+{{ bet.times_exact }}</small></span>
                                {% else %}
                                <span class="badge rounded bg-info p-1"><small>+{{ bet.times_exact }}</small></span>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
