{% extends 'base.html' %}
{% block header %}
<h2><span class="badge rounded-pill bg-secondary">Ranking</span></h2>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
        {% if system == "classic" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'classic') }}">Klasyczny</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'classic') }}">Klasyczny</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "mg" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'mg') }}">MG_rev.2020</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'mg') }}">MG_rev.2020</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "three_two" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'three_two') }}">3-2</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'three_two') }}">3-2</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if system == "three_one" %}
        <a class="nav-link active" aria-current="page" href="{{ url_for('ranking.ranking', system = 'three_one') }}">3-1</a>
        {% else %}
        <a class="nav-link text-muted" href="{{ url_for('ranking.ranking', system = 'three_one') }}">3-1</a>
        {% endif %}
    </li>
</ul>
<div class="table-responsive-lg">
    <table class="table table-sm table-striped text-center table-borderless">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Punkty</th>
                <th scope="col">Ile razy typował</th>
                <th scope="col">Ile razy dokładnie</th>
            </tr>
        </thead>
        <tbody>
        {% for p in points %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            {% if p[0].id == g.user.id %}
            <td class="font-weight-bold">{{ p[0].username }}</td>
            {% else %}
            <td>{{ p[0].username }}</td>
            {% endif %}
            <td>
                {{ p[1] }}
                {% if p[4] %}
                    {% if p[4] > 0 %}
                    <span class="badge rounded-pill bg-success">+{{ p[4] }}</span>
                    {% endif %}
                    {% if p[4] == 0 %}
                    <span class="badge rounded-pill bg-primary">{{ p[4] }}</span>
                    {% endif %}
                    {% if p[4] < 0 %}
                    <span class="badge rounded-pill bg-warning">{{ p[4] }}</span>
                    {% endif %}
                {% else %}
                    <span class="badge rounded-pill bg-primary">+0</span>
                {% endif %}
            </td>
            <td>
                {{ p[3] }}
                {% if p[4] %}
                    <span class="badge rounded-pill bg-success">+1</span>
                {% else %}
                    <span class="badge rounded-pill bg-primary">+0</span>
                {% endif %}
            </td>
            <td>
                {{ p[2] }}
                {% if p[5] %}
                    <span class="badge rounded-pill bg-success">+{{ p[5] }}</span>
                {% else %}
                    <span class="badge rounded-pill bg-primary">+0</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
